.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: blue;
  color: white;
}

div {
  background-color: #00285a;
}
body {
  background-color: white;
  margin: 0;
}
#p2 {
  color: #fefefe;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#p1 {
  color: #fefefe;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#omg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#elias {
  background-color: #0068b5;
}

#elias2 {
  color: white;
  font-size: 16px;
  justify-content: center;
  align-items: center;
}
